*.exe
*.prn
*.dbg
*.log
*.dep
IdeSrc/*.dsk
IdeSrc/*.mtd
IdeSrc/*.loc
AppHTML/DfEngine/*
AppHTML/DfEngine/*/*
AppHTML/CssThemes/*
AppHTML/CssThemes/*/*
AppHTML/CssThemes/*/*/*
AppHTML/Images/DF_Logo_Retina.png
AppHTML/Images/PoweredByDataFlex.png
Data/*
DDSrc/*
